.logo {
  font-weight:bold;
  font-size: 20px;     
  color:#a37e2c;           
  letter-spacing: 7px;     
  cursor: pointer; 
  display: flex;  
  align-items: center; 

}

.logo img {
  height: 25px;   
  margin-right: 10px;

}
