.nav-link {
  color: rgb(255, 255, 255);
  margin: 0 20px;
font-weight: bolder;
transition: color 0.3s ease;
 
}


.nav-link:hover {
  color: gold;
}


.nav {
  display: flex;    
  gap: 20px;       
}
